.footer {
    padding: 30rem 0;
    position: relative;
    z-index: 2;
    background-color: $default;
    &-top {
        display: flex;
        margin-bottom: 100rem;
    }
    &-logo {
        span{
            font: 400 14rem/160% $AeonikTRIAL;
            color: rgba($white, .52);
            display: block;
            max-width: 200rem;
        }
    }
    &-title {
        margin-bottom: 15rem;
        font: 400 16rem/160% $AeonikTRIAL;
        color: $white;
    }
    &-nav {
        justify-content:space-between;
        margin: 0 auto; 
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 550rem;
        a {
            font: 400 14rem/160% $AeonikTRIAL;
            color: rgba($white, .52);
            &:hover {
                color: $primary;
            }
        }
    }

    &-bottom {
        text-align: center;
        font: 400 12rem/normal $AeonikTRIAL;
        color: rgba($white, .37);
    }
    &-social{
        ul{
            display: flex;
            align-items: center;
        }
        li{
            margin-right: 25rem;
            &:last-child{
                margin-right: 0;
            }
        }
        a{
            display: inline-flex;
            width: 32rem;
            height: 32rem;
            border-radius: 50%;
            background-color: $white;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            img, svg{
                width: 100%;
                height: 100%;
                max-width: 16rem;
                max-height: 16rem;
                object-fit: contain;
            }
            &:hover{
                background-color: $primary;
                svg{
                    path{
                        fill: $white;
                    }
                }
            }
        }

    }
}
